<div>
  <h2>Lista de Clientes</h2>
  <div>{{clientes[0]?.nombre}}</div>
  <ul>
    <li *ngFor="let cliente of clientes">
      {{ cliente?.nombre }} {{ cliente?.apellido }}
    </li>
  </ul>
</div>

<!-- <div *ngIf="clienteSeleccionado">
  <h2>Detalles del Cliente</h2>
  <label>Nombre:</label>
  <input type="text" [(ngModel)]="clienteSeleccionado?.nombre" />
  <label>Apellido:</label>
  <input type="text" [(ngModel)]="clienteSeleccionado?.apellido" />
  <button (click)="updateCliente(clienteSeleccionado)">Actualizar</button>
  <button (click)="deleteCliente(clienteSeleccionado.id)">Eliminar</button>
</div>

<div>
  <h2>Crear Cliente</h2>
  <label>Nombre:</label>
  <input type="text" [(ngModel)]="nuevoCliente.nombre" />
  <label>Apellido:</label>
  <input type="text" [(ngModel)]="nuevoCliente.apellido" />
  <button (click)="createCliente(nuevoCliente)">Crear</button>
</div> -->
